 
 <div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../../assets/big_pizza.jpg" alt="Avatar Logo" style="width:50px;" class="rounded-pill"> 
          </a>
          
        </div>
        <div class="col-sm-8">
        
            <button style="float:right" class="btn btn-danger">Login</button>
            <button style="float:right" class="btn btn-danger" (click)="SignUpUser()">Sign Up</button>
            <button style="float:right" class="btn btn-danger" (click)="GoHome()">Home</button>
            <button style="float:right" class="btn btn-danger" (click)="ViewCart()">Cart {{count}}</button>
        </div>
      </nav>
      
 </div>

<div class="row">
    
   
</div>


